gunicorn
tensorflow
ultralytics
torch
pillow
torchvision
flask
google-cloud-storage
opentelemetry-sdk
opentelemetry-instrumentation  # Or specific instrumentation libraries
opentelemetry-exporter-otlp
opentelemetry-exporter-prometheus
opentelemetry-instrumentation-flask